body{
 font-family: 'Poppins', sans-serif;
             
}
.skip{
                  color: #ff002b;
}
.first-section{
                  display: flex;
                  padding-bottom: 100px;
                  width: 100%;
                  padding-top: 100px;

               
               }
.container-one{
                  background-image:url(images/Frame\ 58.jpg);
                  
}    

.first-section img{
                  width:50%;
}
.all-button{
                  text-decoration: none;
                  background-color: orange;
                  padding: 10px 40px;
                  border-radius: 10px;
} 
.back-image{
   background-image: url(images/Frame\ 56.jpg);
   background-repeat: no-repeat;
}
.small-div{
text-align:center;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-left: 20px;   
}
.three-section{
   padding-left: 10px;
   text-align: center;
   display: flex;
   width: 100%;
   padding-bottom: 100px;

   
   
   
}
.three-section img{
width: 80%;

}
.receipe{
   box-shadow: 10px 10px 40px 10px violet;
}
#rakib{
   padding-left: 10px;
   margin-left: 50px;
}
#rakib2{
   padding-right: 10px; margin-right: 20px;
}
.don{
   color: blue;
   display: flex;
   text-align: center;
   width: 50%;
   padding-left: 300px; 
   background-color: ch;
   margin-left: 150px;
   border: 7px solid whitesmoke;
   box-shadow: 10px 10px 10px 10px; 
   
}
.footer{
   margin-top: 100PX;
   text-align: center;
   margin-top: 100px;
   background-color: rgb(223, 197, 197);
   padding-bottom: 100px;
   padding-top: 50px;
}