body{
 font-family: 'Poppins', sans-serif;
             
}
.skip{
                  color: #ff002b;
}
.first-section{
                  display: flex;
                  padding-bottom: 100px;
                  width: 100%;
                  padding-top: 100px;

               
               }
.container-one{
                  background-image:url(images/Frame\ 58.jpg);
                  
}    

.first-section img{
                  width:50%;
}
.all-button{
                  text-decoration: none;
                  background-color: orange;
                  padding: 10px 40px;
                  border-radius: 10px;
} 
.back-image{
   background-image: url(images/Frame\ 56.jpg);
   background-repeat: no-repeat;
}
.small-div{
   text-align: center; 
   padding-top: 100px;
   padding-bottom: 100px;
   
}
.three-section{
   display: flex;
   width: 80%;
   padding-left: 100px;
}
.three-section img{
width: 80%;

}
